body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background: darkgray;
    font-family:Arial;
}

.box{
    text-align:center;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    font-size:50px;
}

button{
    padding:10px 20px;
    margin:5px;
    font-size:16px;
    cursor:pointer;
}